
* {
    margin: 0;
    padding: 0;
   
    
}

html,body{
    width: 100%;
    height: 100%;
    font-size:20px;
    font-weight: normal;
}


.about{
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
    font-family: fantasy;
    padding: 50px 400px;
    
    
}

.about p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom:15px; 
    
    
}


.nav a {

    text-decoration: none;
    font-size: 28px;
    font-family: fantasy;
    font-weight: bold;
    margin: 5px 0;
    float: left;
    display:inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}



a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
}
.a{
    width: 95%;
}

.b{
    width: 80%;
}
.c{
    width: 80%;
}
.d{
 width: 95%;
}

.content{
    
    width: 930px;
    min-height:  height: 500px;
    height: auto;
    /*background-color: red;*/
    right: 0;
    top: 10%;
    
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../Images/hacker2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}














